@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
  --font-family: "Rubik";
}
body{
  font-family: var(--font-family);

}
.container{
  max-width: 1400px;
  margin: 0 auto;
}
.header{
    .container{ 
        background-color:rgb(250, 250, 250);
        padding: 23px 135px;
        height: 75px;
        display: flex;
        gap: 150px;
        .logo{
            column-gap: 7px;
            display: flex;
            font-weight: 700;
            font-size: 21px;
            font-family: 'Montserrat', sans-serif;
            .green{
                color: rgb(103, 173, 32);
            }
        }
        .info{
            ul{
                padding: 5px;
                display: flex;
                list-style: none;
                gap: 23px;
                li{
                    width: max-content;
                    align-items: center;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 18px;
                    a{
                        text-decoration: none;
                        color: #000;
                    }
                    a:hover{
                        color: #8EE901;
                    }
                }
                li:hover{
                    border-bottom: 1px solid ;
                    padding-bottom: 29px;
                    transition: linear 0.5s ;
                    color: #8EE901;
                }
            }
        }
        .navber{
            display: flex;
            gap: 38px;
        }
        .poysk{        
            height: 100%;
            display: flex;
            gap: 55px;
            .svg2{
                border-left: 1px solid #EFEFEF;
                height: 100%;
                padding: 10px;
            }
            
        }
      
    }
}



