.canon{
    span{
        color: #4F9C2C;
    }
    .title{
        margin-top: 75px;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 18px;
        line-height: 111%;
        text-transform: uppercase;
        text-align: center;
        color: #000;
    }
    .taytl{
        margin-top: 27px;
        display: flex;
        gap: 14px;
        justify-content: center;
        .power_cards{
            .power_card{
                width: 358px;
                height: 430px;
                border: 2px solid #d8d5d5;
                
                .kamera{
                    display: flex;
                    .photo{
                        margin: 29px 65px;
                    }
                    .card__icon{
                        display: flex;
                        flex-direction: column;
                        row-gap:5px;
                        margin-top: 15px;
                        position: relative;
                        left: -27px;
                    }
                }
                .card__info{
                    h2{
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 26px;
                        text-align: center;
                    }
                    p{
                        margin-top: px;
                        text-align: center;
                        color:#75758A;
                        font-weight: 400;
                    }
                    .card__teg{
                        width: 100%;
                        border: 1px solid #EFEFEF;
                        margin-top: 20px;
                        display: flex;
                        justify-content: space-between;
                        .card{
                            padding:15px 9px;
                            &:not(:first-child){
                                border-left: 1px solid #EFEFEF;
                            }
                        }
                    }
                    .card__bottom{
                        margin-top: 33px;
                        margin-bottom: 21px;
                        .bottom{
                            justify-content: center;
                            display: flex;
                            column-gap: 20px;
                            .bottom1{
                                padding: 12px 25px;
                                border: 1px solid #c5c0c0;
                                border-radius: 100px;
                                font-weight: 700;
                                font-size: 14px;
                                line-height: 16px;
                                text-align: center;
                                cursor: pointer;
                                &:hover{
                                    transition: 0.2s;
                                    background: #4F9C2C;
                                }
                            }
                            .bottom2{
                                background: linear-gradient(180deg, #8EE902 0%, #4F9C2C 100%);
                                border-radius: 100px;
                                color: white;
                                padding: 12px 25px;
                                border-radius: 100px;
                                font-weight: 700;
                                font-size: 14px;
                                display: flex;
                                gap: 9px;
                                 cursor: pointer;
                                &:hover{
                                   background: #75758A;
                                }
                            }
                        }
                    }
                }
    
            }
        }
    }
}

